body {
    background-color: #00A5E1;
    padding: 0 50px 0 50px;
}

.js-pref-name {
    font-size: 40px;
    font-family: Zen Kaku Gothic New;
    font-weight: 900;
    line-height: 100%;
    color: #fff;
    margin: 30px 0 30px 0;
}

.weather-flex {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

/* 今日の天気 */
.today-weather {
    background-color: #fff;
    border: 5px solid #0376C3;
    border-radius: 30px;
    
}

.today-tit {
    font-size: 30px;
    font-family: Zen Kaku Gothic New;
    font-weight: 700;
    line-height: 100%;
    color: #fff;

}

.today-header {
    display: flex;
    align-items: center;
    background-color: #0376C3;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

.js-date-today {
    font-size: 30px;
    font-family: Zen Kaku Gothic New;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    text-align: right;
}

/* 明日の天気 */
.tomorrow-weather {
    background-color: #fff;
    border: 5px solid #0376C3;
    border-radius: 30px;
    padding: 20px;
}

/* ボタン */
.pref-btn {
    max-width: 230px;
    background-color: #FFA600;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 18px 30px;
    margin: 0 auto;
    transition: all 0.2s ease;
}

.pref-btn:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transform: translate(3px, 3px);
}