body {
    position: relative;
    max-width: 390px;
}
.home h1{
    text-align: center;
    padding: 30px;
    font-size: 24px;
    background-color: #C3CFFF;

}

.hokkaido img{
    width: 100px;
    height: auto;
    position: absolute;
    top: 141px;
    right: 14px;

}
.aomori img{
    width: 51px;
    height: auto;
    position: absolute;
    top: 225px;
    right: 64px;
}
.iwate img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 256px;
    right: 63px;
}
.miyagi img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 290px;
    right: 63px;
}
.akita img{
    width: 27px;
    height: auto;
    position: absolute;
    top: 257px;
    right: 90px;
}
.yamagata img{
    width: 24px;
    height: auto;
    position: absolute;
    top: 294px;
    right: 90px;
}
.fukusima img{
    width: 48px;
    height: auto;
    position: absolute;
    top: 318px;
    right: 67px;
}
.ibaraki img{
    width: 29px;
    height: auto;
    position: absolute;
    top: 344px;
    right: 59px;
}
.totigi img{
    width: 20px;
    height: auto;
    position: absolute;
    top: 341px;
    right: 80px;
}
.gunma img{
    width: 38px;
    height: auto;
    position: absolute;
    top: 343px;
    right: 92px;
}
.saitama img{
    width: 34px;
    height: auto;
    position: absolute;
    top: 364px;
    right: 81px;
}
.chiba img{
    width: 21px;
    height: auto;
    position: absolute;
    top: 375px;
    right: 59px;
}
.tokyo img{
    width: 26px;
    height: auto;
    position: absolute;
    top: 379px;
    right: 81px;
}
.kanagawa img{
    width: 24px;
    height: auto;
    position: absolute;
    top: 388px;
    right: 84px;
}
.niigata img{
    width: 41px;
    height: auto;
    position: absolute;
    top: 304px;
    right: 110px;
}
.toyama img{
    width: 26px;
    height: auto;
    position: absolute;
    top: 339px;
    right: 152px;
}
.isikawa img{
    width: 27px;
    height: auto;
    position: absolute;
    top: 322px;
    right: 162px;
}
.fukui img{
    width: 30px;
    height: auto;
    position: absolute;
    top: 353px;
    right: 180px;
}
.yamanasi img{
    width: 20px;
    height: auto;
    position: absolute;
    top: 378px;
    right: 110px;
}
.nagano img{
    width: 38px;
    height: auto;
    position: absolute;
    top: 345px;
    right: 117px;
}
.gifu img{
    width: 27px;
    height: auto;
    position: absolute;
    top: 359px;
    right: 157px;
}

.sizuoka img{
    width: 40px;
    height: auto;
    position: absolute;
    top: 390px;
    right: 104px;
}
.aichi img{
    width: 22px;
    height: auto;
    position: absolute;
    top: 392px;
    right: 146px;
}
.mie img{
    width: 23px;
    height: auto;
    position: absolute;
    top: 391px;
    right: 165px;
}
.siga img{
    width: 24px;
    height: auto;
    position: absolute;
    top: 374px;
    right: 181px;
}
.kyoto img{
    width: 34px;
    height: auto;
    position: absolute;
    top: 375px;
    right: 189px;
}
.osaka img{
    width: 13px;
    height: auto;
    position: absolute;
    top: 396px;
    right: 198px;
}
.hyogo img{
    width: 19px;
    height: auto;
    position: absolute;
    top: 375px;
    right: 214px;
}
.nara img{
    width: 11px;
    height: auto;
    position: absolute;
    top: 402px;
    right: 185px;
}
.wakayama img{
    width: 25px;
    height: auto;
    position: absolute;
    top: 419px;
    right: 184px;
}
.tottori img{
    width: 23px;
    height: auto;
    position: absolute;
    top: 375px;
    left: 132px;
}
.simane img{
    width: 36px;
    height: auto;
    position: absolute;
    top: 375px;
    left: 99px;
}
.okayama img{
    width: 20px;
    height: auto;
    position: absolute;
    top:387px ;
    left: 135px;
}
.hirosima img{
    width: 25px;
    height: auto;
    position: absolute;
    top:387px;
    left: 107px;
}
.yamaguti img{
    width: 22px;
    height: auto;
    position: absolute;
    top: 382px;
    left: 84px;
}
.tokusima img{
    width: 22px;
    height: auto;
    position: absolute;
    top: 424px;
    left: 144px;

}
.kagawa img{
    width: 24px;
    height: auto;
    position: absolute;
    top:416px ;
    left: 139px;
}
.ehime img{
    width: 44px;
    height: auto;
    position: absolute;
    top: 415px;
    left:98px ;
}
.kouchi img{
    width: 48px;
    height: auto;
    position: absolute;
    top: 431px;
    left: 107px;
}
.fukuoka img{
    width: 30px;
    height: auto;
    position: absolute;
    top:393px;
    left: 44px;
}
.saga img{
    width: 20px;
    height: auto;
    position: absolute;
    top: 397px;
    left: 31px;
}
.nagasaki img{
    width: 16px;
    height: auto;
    position: absolute;
    top: 403px;
    left: 26px;
}
.kumamoto img{
    width: 22px;
    height: auto;
    position: absolute;
    top: 414px;
    left: 43px;
}
.ooita img{
    width: 22px;
    height: auto;
    position: absolute;
    top: 399px;
    left: 64px;
}
.miyazaki img{
    width: 24px;
    height: auto;
    position: absolute;
    top: 423px;
    left: 62px;
}
.kagosima img{
    width: 31px;
    height: auto;
    position: absolute;
    top: 441px;
    left: 43px;
}
.okinawa img{
    width: 32px;
    height: auto;
    position: absolute;
    top: 303px;
    left: 44px;
}

.tenki{
    margin-top: 403px;
    background-color: #FACE54;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.alato{
    padding-top: 22px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    padding-left: 100%;
    animation: marquee-animation 10s linear infinite;
}
  
  @keyframes marquee-animation {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .top_tenki{
    margin-left: 20px;
  }

/*.top_tenki p{
    margin-left: 21px;
    padding:38px 0;
}*/
/* 東京・大阪・福岡の1行 */
.tenki_row {
    display: flex;
    margin-bottom: 15px;
}


/* 左側の都市名 */
.main_tokyo,
.main_osaka,
.main_fukuoka {
    width: 80px;
    height: 100px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
}

.main_tokyo {
    flex-direction: column;
}

.san {
    width: 50px;
    height: 4px;
    background-color: #777;
    margin-top: 10px;
}

.weather_data {
    flex: 1;
    height: 100px;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
    align-items: center;
}

.weather_data p {
    margin: 5px 0;
    font-size: 12px;
}
.weather_data img{
    width: 40px;
    height: auto;
}
.pref{position: relative;
background-color: #F0F3FF;}
.pref h2{
    font-size: 30px;
    background-color: #C3CFFF;
    padding: 30px;
    text-align: center;
}
.pref a img{
    position: absolute;
    width: 62px;
    height: auto;
    top: 28px;
    left: 10px;

}
.today-weather{
    background-color: #FFF;
}
.tomorrow-weather{
    background-color: #FFF;
}
.today-weather h3{
    font-size: 20px;
    margin: 20px 0;
}
.tomorrow-weather h3{
    margin: 30px 0;
    font-size: 20px;

}
.today-weather tr th{
    padding-left: 30px;
    padding-top: 20px;
    padding: 15px;
    background-color: #C3CFFF;
}
.tomorrow-weather tr th{
    padding-left: 30px;
    padding-top: 20px;
    padding: 15px
    
}
.today-weather tr td{
    padding: 10px;
}
.tomorrow-weather tr td{
padding: 10px;
}